ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	width: 950px;
	background:#1975A3;
	font-size: 12px;
	font-weight:bold;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #FFF;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/menu/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: top bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	z-index:10000;
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #1975A3;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	/*border: 1px solid #111;*/
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	/*border-top: 1px solid #252525;*/ /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #1975A3;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #0F4662;
}
